[Service]
Environment="http_proxy=http://proxy-system.us.company.com:18717"
Environment="https_proxy=http://proxy-system.us.company.com:18717"
Environment="no_proxy=localhost,169.254.169.254,169.254.170.2,intl-ca.aws.xxx,company.com,elb.amazonaws.com"